/* 初始化CSS的設定 */
html, body, ul{
    padding: 0;
    margin: 0;

}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
}
nav{
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}
/* .links嚇得<ul> */
.links ul{
    display: flex;
}
.links ul li{
    margin-right: 1em; 
}
.links ul li a {
    color: rgb(226, 226, 226);
}
.links ul li a:hover{
    color: white;
    font-weight: bold;
}
.article{
    display: flex;
    flex-direction: column;
    background-color: #cec7c7;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    padding: 16px 20px;
    box-shadow: 1px 1px 3px 2px #cecece;
}
.article h1{
    margin-top: 0px;
}
.article a{
    align-self: flex-end;
}